@import 'reset.less';

.container {
    width: 100%;
    height: 100%;

    .header {
        width: 100%;
        height: 100%;

        h1 {
            font-size: 35px;
            text-align: center;
            font-weight: 500;
            padding: 31px 0;
        }

        .integral {
            width: 690px;
            height: 300px;
            margin: 0 auto;
        }
    }

    .title {
        height: 74px;
        display: flex;
        position: relative;

        .horn {
            margin: 20px 0 0 43px;
        }

        .title-text {
            flex: 1;
            font-size: 23px;
            line-height: 74px;
            color: #666;
            margin-left: 26px;
        }
    }

    .title::after {
        content: "";
        position: absolute;
        left: 1px;
        bottom: 0;
        width: 748px;
        height: 1px;
        background-color: #ebebeb;
    }

    .content {

        .goods {
            width: 306px;
            height: 70px;
            margin: 18px auto;
        }

        .shop {
            width: 690px;
            height: 142px;
            margin: 0 auto;
            padding: 30px 0;
            border-bottom: 1px solid #ebebeb;
            display: flex;
            position: relative;

            .shop-img {
                width: 142px;
                height: 142px;
                border: 1px solid #ebebeb;
                border-radius: 5px;
            }

            .shop-text {
                margin-left: 33px;

                .shop-name {
                    width: 366px;
                    height: 64px;
                    font-size: 26px;
                    line-height: 32px;
                    color: #323232;
                    margin-top: 10px;
                    
                    word-break: break-all;
                    
                    .ellipsis(2);
                }
    
                .shop-number {
                    font-size: 21px;
                    line-height: 21px;
                    color: #999;
                    margin-top: 10px;
                }

                .need {
                    font-size: 26px;
                    line-height: 26px;
                    color: #f85e54;
                    margin-top: 10px;

                    del {
                        font-size: 21px;
                        color: #999;
                        margin-left: 12px;
                    }
                }
            }

            .Immediately {
                width: 78px;
                height: 78px;
                border: 1px solid #ebebeb;
                position: absolute;
                right: 37px;
                bottom: 53px;
            }
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 111;

        width: 750px;
        height: 113px;

        .footer-nav {
            height: 113px;
            display: flex;
            justify-content: space-between;
            z-index: 222;

            li {
                position: absolute;
                bottom: 12px;
                width: 187.5px;
                text-align: center;
                color: #ccc;
                font-size: 21px;
                line-height: 21px;

                .home-img1 {
                    display: none;
                }

                .lottery-img1 {
                    display: none;
                }

                .exchange-img1 {
                    display: none;
                }

                .mine-img1 {
                    display: none;
                }

                div {
                    margin-top: 9px;
                }
            }

            .home {
                left: 0;
            }

            .lottery {
                left: 187.5px;
            }

            .exchange {
                left: 375px;
            }

            .mine {
                left: 562.5px;
            }

            .active {
                color: #1c459d;
            }
        }
    }
}