@import 'reset.less';

html {
    height: 100%;
    background-color: #f8f8f8;
}

.container {
    width: 100%;
    height: 100%;

    .header {
        width: 100%;
        height: 100%;
        background-color: #fff;

        h1 {
            font-size: 35px;
            text-align: center;
            font-weight: 500;
            padding: 31px 0;
        }
    }

    .content {
        
        .back {
            position: absolute;
            left: 57px;
            top: 130px;

            .back-img {
                width: 34px;
                height: 34px;
            }
        }

        .details {
            width: 100%;
            background-color: #1b449c;

            h2 {
                font-size: 30px;
                line-height: 30px;
                color: #fdfffe;
                padding: 32px 0 28px;
                text-align: center;
            }
        }
    }

    .main {
        background-color: #fff;

        .write {
            height: 100%;
            
            li {
                font-size: 28px;
                display: flex;
                border-bottom: 2px solid #f7f7f9;

                div {
                    width: 137px;
                    height: 93px;
                    line-height: 93px;
                    text-indent: 25px;
                    font-weight: 600;
                }

                input {
                    width: 368px;
                    height: 93px;
                    flex: 1;
                    font-size: 28px;
                    margin-left: 26px;
                }

                .choose {
                    color: #8c8b90;
                    margin-left: 400px;
                }

                .choose-img {
                    width: 15px;
                    height: 30px;
                    margin: 35px 0 0 20px;
                }

                .input1 {
                    width: 100%;
                    height: 179px;
                    font-size: 27px;
                    padding: 18px 0 0 21px;
                    border: none;
                    .ellipsis(3);
                }

                .ssxz {
                    width: 300px;
                    height: 50px;
                    font-size: 25px;
                }
            }
        }
    }

    .default {
        height: 96px;
        display: flex;
        margin-top: 20px;
        background-color: #fff;

        .set {
            font-size: 28px;
            line-height: 96px;
            text-indent: 25px;
        }

        #toggle-button { 
            display: none; 
        }

        .button-label {
            position: relative;
            display: inline-block;
            width: 100px;
            background-color: #ccc;
            border: 1px solid #ccc;
            border-radius: 30px;
            cursor: pointer;
            height: 50px;
            margin: 20px 0 0 475px;
        }
        
        .circle {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff;
        }

        .button-label .text {
            line-height: 30px;
            font-size: 18px;

           -webkit-user-select: none;
           user-select: none;
        }

        .on { 
            color: #fff; 
            display: none; 
            text-indent: 10px;
        }

        .off { 
            color: #fff; 
            display: inline-block; 
            text-indent: 53px;
        }

        .button-label .circle{
            left: 0;
            transition: all 0.3s;
        }

        #toggle-button:checked + label.button-label .circle {
            left: 50px;
        }

        #toggle-button:checked + label.button-label .on { 
            display: inline-block; 
        }

        #toggle-button:checked + label.button-label .off { 
            display: none; 
        }

        #toggle-button:checked + label.button-label {
            background-color: #1b449c;
        }
    }

    .save {
        width: 598px;
        height: 76px;
        font-size: 29px;
        line-height: 76px;
        text-align: center;
        color: #fff;
        background-color: #1b449c;
        border-radius: 50px;
        margin: 87px 0 0 76px;
    }
}