<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情</title>
    <link rel="stylesheet" href="../css/details.css">
</head>
<body>
    <div class="container">
        <!--商品详情-->
        <div class="header">
            <h1>积分商城</h1>
        </div>
        <div class="content">
            <div class="back">
                <img class="back-img" src="../img/back.png">
            </div>
            <!--商品详情-->
            <div class="details">
                <h2>商品详情</h2>
            </div>
            <img class="back" src="">
            <!--手机图片-->
            <div class="picture">
                <img class="picture-img" src="../img/1_3.png">
            </div>
            <!--手机详情-->
            <div class="shop">
                <div class="shop-text">
                    <div class="shop-name">华为P30全网通双4G手机</div>
                    <div class="need">17896积分<del>价值9999元</del></div>
                </div>
                <div class="surplus">剩余：10</div>
            </div>
            <img class="shop-img" src="">
        </div>
        <!--积分不足提示-->
        <div class="box">
            <div class="box-small">
                <h3>温馨提示</h3>
                <div class="box-head">您的当前的积分不足</div>
                <div class="box-foot">去赚积分</div>
            </div>
        </div>
        <!--积分支付-->
        <div class="footer">
            <div class="integral">
                <div class="pay">需要支付<small>17896积分</small></div>
                <div class="now">当前积分21259</div>
            </div>
            <div class="immediately">立即兑换</div>
        </div>
    </div>
    <script src="../js/jquery-2.2.2.min.js"></script>
    <script src="../js/details.js"></script>
</body>
</html>