<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>积分商城</title>
    <link rel="stylesheet" href="../css/earnCredits.css">
</head>
<body>
    <div class="container">
        <!--商品详情-->
        <div class="content">
            <div class="back">
                <img class="back-img" src="../img/back.png">
            </div>
            <!--如何获取积分-->
            <div class="details">
                <h2>如何赚取积分</h2>
            </div>
        </div>
            <!--获取积分-->
        <div class="explain">获取积分说明</div>
    </div>
    <script src="../js/jquery-2.2.2.min.js"></script>
    <script src="../js/earnCredits.js"></script>
</body>
</html>