<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>兑换记录</title>
    <link rel="stylesheet" href="../css/exchange.css">
</head>
<body>
    <div class="container">
        <!--积分商城-->
        <div class="header">
            <h1>积分商城</h1>
            <div class="name">
                <img class="name-img" src="">
            </div>
        </div>
        <div class="content">
            <img src="" alt="">
        </div>
        <!--底部导航-->
        <div class="footer">
            <div class="line">
                <img class="line-img" src="../img/1_32.png">
            </div>
        <ul class="footer-nav">
            <li class="home active">
                <img class="home-img" src="../img/1_6.png">
                <div>首页</div>
            </li>
            <li class="lottery">
                <img class="lottery-img" src="../img/1_8.png">
                <div>积分抽奖</div>
            </li>
            <li class="exchange">
                <img class="exchange-img" src="../img/1_10.png">
                <div>兑换记录</div>
            </li>
            <li class="mine">
                <img class="mine-img" src="../img/1_12.png">
                <div>我的</div>
            </li>
        </ul>
    </div>
    </div>
</body>
</html>