<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>兑换记录</title>
    <link rel="stylesheet" href="../css/exchange.css">
</head>
<body>
    <div class="container">
        <!--积分商城-->
        <div class="header">
            <h1>积分商城</h1>
        </div>
        <!--导航条-->
        <div class="nav">
            <ul class="infor">
                <li class="nav-ation active">全部</li>
                <li class="nav-ation lis">待收货</li>
                <li class="nav-ation lis">已完成</li>
                <li class="nav-ation lis">已退单</li>
            </ul>
        </div>
        <!--订单-->
        <div class="content">
            <div class="form">
                <!--订单编号-->
                <div class="trade">
                    <div class="order">订单编号：FJ123123123123</div>
                    <div class="status">
                        <div class="deal hid">交易完成</div>
                        <div class="cancle hid">已退单</div>
                    </div>
                </div>
                <!--订单详情-->
                <div class="shop">
                    <!--商品图片-->
                    <img class="shop-img" src="../img/1_3.png">
                    <!--商品兑换详情-->
                    <div class="shop-text">
                        <div class="shop-name">华为P30全网通双4G手机</div>
                        <div class="shop-number">市场价值3899元</div>
                        <div class="need">17896积分</div>
                    </div>
                    <div class="number">x1</div>
                </div>
                <!--订单确认和退货-->
                <ul class="btn">
                    <li class="charge-back hid">已退单</li>
                    <li class="confirm">确认收货</li>
                    <li class="chargeback">我要退单</li>
                </ul>
            </div>
            <div class="form">
                <!--订单编号-->
                <div class="trade">
                    <div class="order">订单编号：FJ123123123123</div>
                    <div class="status">
                        <div class="deal">交易完成</div>
                        <div class="cancle hid">已退单</div>
                    </div>
                </div>
                <!--订单详情-->
                <div class="shop">
                    <!--商品图片-->
                    <img class="shop-img" src="../img/1_3.png">
                    <!--商品兑换详情-->
                    <div class="shop-text">
                        <div class="shop-name">华为P30全网通双4G手机</div>
                        <div class="shop-number">市场价值3899元</div>
                        <div class="need">17896积分</div>
                    </div>
                    <div class="number">x1</div>
                </div>
                <!--订单确认和退货-->
                <ul class="btn">
                    <li class="charge-back hid">已退单</li>
                    <li class="confirm hid">确认收货</li>
                    <li class="chargeback">我要退单</li>
                </ul>
            </div>
            <div class="form">
                <div class="trade">
                    <div class="order">订单编号：FJ123123123123</div>
                    <div class="status">
                        <div class="deal hid">交易完成</div>
                        <div class="cancle">已退单</div>
                    </div>
                </div>
                <!--订单详情-->
                <div class="shop">
                    <!--商品图片-->
                    <img class="shop-img" src="../img/1_3.png">
                    <!--商品兑换详情-->
                    <div class="shop-text">
                        <div class="shop-name">华为P30全网通双4G手机</div>
                        <div class="shop-number">市场价值3899元</div>
                        <div class="need">17896积分</div>
                    </div>
                    <div class="number">x1</div>
                </div>
                 <!--订单确认和退货-->
                <ul class="btn">
                    <li class="charge-back">已退单</li>
                    <li class="confirm hid">确认收货</li>
                    <li class="chargeback hid">我要退单</li>
                </ul>
            </div>
        </div>
        <!--订单退货-->
        <div class="box">
            <div class="box-small">
                <h2>退货</h2>
                <div class="box-head">是否需要退货？</div>
                <div class="box-foot">
                    <div class="yes">是</div>
                    <div class="no">否</div>
                </div>
            </div>
        </div>
        <!--订单退货信息-->
        <div class="bg">
            <div class="close">
                <img class="close-img" src="../img/1_30.png">
            </div>
            <div class="information">
                <h3>退单信息</h3>
                <ul class="write">
                    <li>
                        <div> 姓 名 </div>
                        <input type="text" placeholder="请填写您的姓名" maxlength="30">
                    </li>
                    <li>
                        <div>手机号</div>
                        <input type="text" placeholder="请填写您的手机号码" maxlength="30">
                    </li>
                    <li>
                        <div>退单理由</div>
                        <textarea class="input1" placeholder="请填写您的退单理由"></textarea>
                    </li>
                </ul>
                <div class="confirmed">确认退货</div>
            </div>
        </div>
        <!--底部导航-->
        <div class="footer">
            <div class="line">
                <img class="line-img" src="../img/1_32.png">
            </div>
            <ul class="footer-nav">
                <li class="home">
                    <div class="home-img">
                        <img src="../img/1_7.png">
                    </div>
                    <div class="home-img1">
                        <img src="../img/1_6.png">
                    </div>
                    <div>首页</div>
                </li>
                <li class="lottery">
                    <div class="lottery-img">
                        <img src="../img/1_8.png">
                    </div>
                    <div class="lottery-img1">
                        <img src="../img/1_9.png">
                    </div>
                    <div>积分抽奖</div>
                </li>
                <li class="exchange active">
                    <div class="exchange-img">
                        <img src="../img/1_10.png">
                    </div>
                    <div class="exchange-img1">
                        <img src="../img/1_11.png">
                    </div>
                    <div>兑换记录</div>
                </li>
                <li class="mine">
                    <div class="mine-img">
                        <img src="../img/1_12.png">
                    </div>
                    <div class="mine-img1">
                        <img src="../img/1_13.png">
                    </div>
                    <div>我的</div>
                </li>
            </ul>
        </div>
    </div>
    <script src="../js/jquery-2.2.2.min.js"></script>
    <script src="../js/exchange.js"></script>
</body>
</html>