<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>安倍积分商城</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../js/home.js">
</head>
<body>
    <div class="container">
        <!--积分商城-->
        <div class="header">
            <h1>积分商城</h1>
            <!--轮播图-->
            <div class="integral">
                <img class="integral-img" src="../img/1_1.png">
            </div>
        </div>
        <div class="title">
            <div class="horn">
                <img class="horn-img" src="../img/1_2.png">
            </div>
            <div class="title-text">安倍医疗积分系统上线啦！！！</div>
        </div>
        <!--积分商品-->
        <div class="content">
            <div class="goods">
                <img class="goods-img" src="../img/1_5.png">
            </div>
            <!--商品详情-->
            <div class="shop">
                <!--商品图片-->
                <img class="shop-img" src="../img/1_3.png">
                <!--商品兑换详情-->
                <div class="shop-text">
                    <div class="shop-name">华为P30全网通双4G手机</div>
                    <div class="shop-number">已兑数量：5</div>
                    <div class="need">17896积分<del>价值9999元</del></div>
                </div>
                <!--立即兑换-->
                <img class="Immediately" src="../img/1_4.png">
            </div>
            <div class="shop">
                <img class="shop-img" src="../img/1_3.png">
                <div class="shop-text">
                    <div class="shop-name">华为P30全网通双4G手机</div>
                    <div class="shop-number">已兑数量：5</div>
                    <div class="need">17896积分<del>价值9999元</del></div>
                </div>
                <img class="Immediately" src="../img/1_4.png">
            </div>
            <div class="shop">
                <img class="shop-img" src="../img/1_3.png">
                <div class="shop-text">
                    <div class="shop-name">华为P30全网通双4G手机</div>
                    <div class="shop-number">已兑数量：5</div>
                    <div class="need">17896积分<del>价值9999元</del></div>
                </div>
                <img class="Immediately" src="../img/1_4.png">
            </div>
        </div>
        <!--底部导航-->
        <div class="footer">
            <div class="line">
                <img class="line-img" src="../img/1_32.png">
            </div>
            <ul class="footer-nav">
                <li class="home active">
                    <div class="home-img">
                        <img src="../img/1_7.png">
                    </div>
                    <div class="home-img1">
                        <img src="../img/1_6.png">
                    </div>
                    <div>首页</div>
                </li>
                <li class="lottery">
                    <div class="lottery-img">
                        <img src="../img/1_8.png">
                    </div>
                    <div class="lottery-img1">
                        <img src="../img/1_9.png">
                    </div>
                    <div>积分抽奖</div>
                </li>
                <li class="exchange">
                    <div class="exchange-img">
                        <img src="../img/1_10.png">
                    </div>
                    <div class="exchange-img1">
                        <img src="../img/1_11.png">
                    </div>
                    <div>兑换记录</div>
                </li>
                <li class="mine">
                    <div class="mine-img">
                        <img src="../img/1_12.png">
                    </div>
                    <div class="mine-img1">
                        <img src="../img/1_13.png">
                    </div>
                    <div>我的</div>
                </li>
            </ul>
        </div>
    </div>
    <script src="../js/jquery-2.2.2.min.js"></script>
    <script src="../js/home.js"></script>
</body>
</html>