<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>积分抽奖</title>
    <link rel="stylesheet" href="../css/lottery.css">
</head>
<body>
    <div class="container">
        <!--积分商城-->
        <div class="header">
            <h1>积分商城</h1>
        </div>
        <div class="content">
            <div class="bg">
                <img class="bg-img" src="../img/1_15.png">
            </div>
            <div class="">今日还有10次抽奖机会</div>
            <div class="">我的积分：18978</div>
        </div>
        <div class="">
            <div class="">
                <img class="" src="../img/1_27.png">
            </div>
            <ul class="">
                <li class="">
                    <img class="" src="../img/1_16.png">
                    <div class="integral">
                        <img class="integral-img" src="../img/1_17.png">
                        <div class="integral-text">10积分</div>
                    </div>
                </li>
                <li class="">
                    <img class="" src="../img/1_16.png">
                    <div class="integral">
                        <img class="integral-img" src="../img/1_18.png">
                        <div class="integral-text">一等奖</div>
                    </div>
                </li>
                <li class="">
                    <img class="" src="../img/1_16.png">
                    <div class="integral">
                        <img class="integral-img" src="../img/1_19.png">
                        <div class="integral-text">谢谢参与</div>
                    </div>
                </li>
                <li class="">
                    <img class="" src="../img/1_16.png">
                    <div class="integral">
                        <img class="integral-img" src="../img/1_20.png">
                        <div class="integral-text">参与奖</div>
                    </div>
                </li>
                <li class="">
                    <div class="integral">
                        <img class="integral-img" src="../img/1_21.png">
                        <div class="integral-text">消耗10积分</div>
                    </div>
                </li>
                <li class="">
                    <img class="" src="../img/1_16.png">
                    <div class="integral">
                        <img class="integral-img" src="../img/1_17.png">
                        <div class="integral-text">10积分</div>
                    </div>
                </li>
                <li class="">
                    <img class="" src="../img/1_16.png">
                    <div class="integral">
                        <img class="integral-img" src="../img/1_23.png">
                        <div class="integral-text">二等奖</div>
                    </div>
                </li>
                <li class="">
                    <img class="" src="../img/1_16.png">
                    <div class="integral">
                        <img class="integral-img" src="../img/1_24.png">
                        <div class="integral-text">20积分</div>
                    </div>
                </li>
                <li class="">
                    <img class="" src="../img/1_16.png">
                    <div class="integral">
                        <img class="integral-img" src="../img/1_25.png">
                        <div class="integral-text">三等奖</div>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <div>中奖详情</div>
            <div>中奖纪录</div>
        </div>
        <!--底部导航-->
        <div class="footer">
            <div class="line">
                <img class="line-img" src="../img/1_32.png">
            </div>
            <ul class="footer-nav">
                <li class="home">
                    <img class="home-img" src="../img/1_7.png">
                    <div>首页</div>
                </li>
                <li class="lottery active">
                    <img class="lottery-img" src="../img/1_9.png">
                    <div>积分抽奖</div>
                </li>
                <li class="exchange">
                    <img class="exchange-img" src="../img/1_10.png">
                    <div>兑换记录</div>
                </li>
                <li class="mine">
                    <img class="mine-img" src="../img/1_12.png">
                    <div>我的</div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>