<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>积分抽奖</title>
    <link rel="stylesheet" href="../css/lottery.css">
</head>
<body>
    <div class="container">
        <!--积分商城-->
        <div class="header">
            <h1>积分商城</h1>
        </div>
        <div class="bg">
            <img class="bg-img" src="../img/1_15.png">
        </div>
        <!--抽奖次数和积分-->
        <div class="content">
            <div class="change">今日还有 10 次抽奖机会</div>
            <div class="my-integral">我的积分：18978</div>
            <div class="activity">
                <img class="activity-img" src="../img/1_28.png">
            </div>
        </div>
        <!--抽奖-->
        <div class="details">
            <div class="small-bg">
                <img class="small-bg-img" src="../img/1_27.png">
            </div>
            <!--抽奖内容-->
            <ul class="lucky-draw">
                <li class="one">
                    <img class="prize-bg" src="../img/1_16.png">
                    <div class="integral1">
                        <img class="integral1-img" src="../img/1_17.png">
                        <div class="integral1-text">10积分</div>
                    </div>
                </li>
                <li class="two">
                    <img class="" src="../img/1_16.png">
                    <div class="first-prize">
                        <img class="first-prize-img" src="../img/1_18.png">
                        <div class="first-prize-text">一等奖</div>
                    </div>
                </li>
                <li class="three">
                    <img class="" src="../img/1_16.png">
                    <div class="thanks">
                        <img class="thanks-img" src="../img/1_19.png">
                        <div class="thanks-text">谢谢参与</div>
                    </div>
                </li>
                <li class="four">
                    <img class="" src="../img/1_16.png">
                    <div class="participate">
                        <img class="participate-img" src="../img/1_20.png">
                        <div class="participate-text">参与奖</div>
                    </div>
                </li>
                <li class="five">
                    <div class="expend">
                        <img class="expend-img" src="../img/1_21.png">
                        <div class="expend-text">消耗10积分</div>
                    </div>
                </li>
                <li class="six">
                    <img class="" src="../img/1_16.png">
                    <div class="integral2">
                        <img class="integral2-img" src="../img/1_17.png">
                        <div class="integral2-text">10积分</div>
                    </div>
                </li>
                <li class="seven">
                    <img class="" src="../img/1_16.png">
                    <div class="second-prize">
                        <img class="second-prize-img" src="../img/1_23.png">
                        <div class="second-prize-text">二等奖</div>
                    </div>
                </li>
                <li class="eight">
                    <img class="" src="../img/1_16.png">
                    <div class="integral3">
                        <img class="integral3-img" src="../img/1_24.png">
                        <div class="integral3-text">20积分</div>
                    </div>
                </li>
                <li class="nine">
                    <img class="" src="../img/1_16.png">
                    <div class="third-prize">
                        <img class="third-prize-img" src="../img/1_25.png">
                        <div class="third-prize-text">三等奖</div>
                    </div>
                </li>
            </ul>
        </div>
        <!--中奖详情-->
        <div class="winners">
            <div class="horn">
                <img class="horn-img" src="../img/1_26.png">
            </div>
            <div class="lucky">
                <ul class="lucky-people">
                    <li class="lucky-guy">
                        <div class="lucky-name">恭喜 我** 抽中二等奖</div>
                    </li>
                </ul>
            </div>
        </div>
        <!--中奖纪录-->
        <div class="winning">
            <div class="close">
                <img class="close-img" src="../img/1_30.png">
            </div>
            <div class="winning-record">
                <img class="record-bg" src="../img/1_31.png">
                <ul class="record-nav">
                    <li class="record-people">
                        <div class="record">
                            <div class="record-time">刚刚</div>
                            <div class="record-name">我是微信昵称</div>
                            <div class="record-text">抽中了10积分</div>
                        </div>
                    </li>
                    <li class="record-people">
                        <div class="record">
                            <div class="record-time">刚刚</div>
                            <div class="record-name">我是微信昵称</div>
                            <div class="record-text">抽中了10积分</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--中奖详情和纪录-->
        <div class="win">
            <div class="win-details">中奖详情</div>
            <div class="win-record">中奖纪录</div>
        </div>
        <!--底部导航-->
        <div class="footer">
            <div class="line">
                <img class="line-img" src="../img/1_32.png">
            </div>
            <ul class="footer-nav">
                <li class="home">
                    <div class="home-img">
                        <img src="../img/1_7.png">
                    </div>
                    <div class="home-img1">
                        <img src="../img/1_6.png">
                    </div>
                    <div>首页</div>
                </li>
                <li class="lottery active">
                    <div class="lottery-img">
                        <img src="../img/1_8.png">
                    </div>
                    <div class="lottery-img1">
                        <img src="../img/1_9.png">
                    </div>
                    <div>积分抽奖</div>
                </li>
                <li class="exchange">
                    <div class="exchange-img">
                        <img src="../img/1_10.png">
                    </div>
                    <div class="exchange-img1">
                        <img src="../img/1_11.png">
                    </div>
                    <div>兑换记录</div>
                </li>
                <li class="mine">
                    <div class="mine-img">
                        <img src="../img/1_12.png">
                    </div>
                    <div class="mine-img1">
                        <img src="../img/1_13.png">
                    </div>
                    <div>我的</div>
                </li>
            </ul>
        </div>
    </div>
    <script src="../js/jquery-2.2.2.min.js"></script>
    <script src="../js/lottery.js"></script>
</body>
</html>