<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>地址管理</title>
    <link rel="stylesheet" href="../css/management.css">
</head>
<body>
    <div class="container">
        <!--商品详情-->
        <div class="header">
            <h1>积分商城</h1>
        </div>
        <div class="content">
            <div class="back">
                <img class="back-img" src="../img/back.png">
            </div>
            <!--商品详情-->
            <div class="details">
                <h2>地址管理</h2>
            </div>
        </div>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <div>新增地址</div>
            <div>
                <img src="../img/1_42.png">
            </div>
        </div>
        <div>
            <h3>收货人信息</h3>
            <div>
                <div>李龙碧</div>
                <div>150199991643</div>
            </div>
            <div>
                <div>默认</div>
                <div>广东省广州市越秀区先烈中路80号19楼1903房</div>
            </div>
        </div>
    </div>
</body>
</html>