<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>地址管理</title>
    <link rel="stylesheet" href="../css/management.css">
</head>
<body>
    <div class="container">
        <!--商品详情-->
        <div class="header">
            <h1>积分商城</h1>
        </div>
        <div class="content">
            <div class="back">
                <img class="back-img" src="../img/back.png">
            </div>
            <!--商品详情-->
            <div class="details">
                <h2>地址管理</h2>
            </div>
        </div>
        <div class="explain">获取积分说明</div>
    </div>
</body>
</html>