<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>地址管理</title>
    <link rel="stylesheet" href="../css/management.css">
</head>
<body>
    <div class="container">
        <!--商品详情-->
        <div class="header">
            <h1>积分商城</h1>
        </div>
        <div class="content">
            <div class="back">
                <img class="back-img" src="../img/back.png">
            </div>
            <!--商品详情-->
            <div class="details">
                <h2>地址管理</h2>
            </div>
        </div>
        <div class="new">
            <div class="add">新增地址</div>
            <div class="ssxz">
                <img src="../img/1_42.png">
            </div>
        </div>
        <div class="consignee">
            <h3>收货人信息</h3>
            <div class="infor">
                <div class="contact">
                    <div class="name">李龙碧</div>
                    <div class="tel">150199991643</div>
                </div>
                <div class="address">
                    <div class="default">默认</div>
                    <div class="specific">广东省广州市越秀区先烈中路80号19楼1903房</div>
                </div>
            </div>
        </div>
        <div class="information">
            <div class="contact">
                <div class="name">Mnuw</div>
                <div class="tel">150199991643</div>
            </div>
            <div class="address">
                <div class="default hid">默认</div>
                <div class="specific">广东省广州市越秀区先烈中路80号19楼1903房</div>
            </div>
        </div>
    </div>
    <script src="../js/jquery-2.2.2.min.js"></script>
    <script src="../js/management.js"></script>
</body>
</html>