<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>积分商城</title>
    <link rel="stylesheet" href="../css/mine.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div class="container">
        <!--微信昵称-->
        <div class="header">
            <div class="name">
                <img class="name-img" src="../img/1_34.png">
            </div>
            <div class="nickname">
                <div class="nickname-text">我是昵称</div>
            </div>
            <div class="jifen">
                <div class="number">29875</div>
                <div class="able">可用积分</div>
            </div>
            <div class="sign">
                <img class="sign-img" src="../img/1_33.png">
            </div>
        </div>
        <!--订单详情-->
        <div class="nav">
            <ul class="details">
                <li class="order">
                    <img src="../img/1_35.png">
                    <div id="order">兑换订单</div>
                </li>
                <li class="goods">
                    <img src="../img/1_36.png">
                    <div id="goods">待收货</div>
                </li>
                <li class="complete">
                    <img src="../img/1_37.png">
                    <div id="complete">已完成</div>
                </li>
                <li class="return">
                    <img src="../img/1_38.png">
                    <div id="return">退货</div>
                </li>
            </ul>
        </div>
        <!--地址、规则和赚取-->
        <div class="change">
            <ul class="change-other">
                <li class="address">
                    <img class="address-img" src="../img/1_39.png">
                    <div class="address-text">收货地址</div>
                </li>
                <li class="rules">
                    <img class="rules-img" src="../img/1_40.png">
                    <div class="rules-text">兑换规则</div>
                </li>
                <li class="how">
                    <img class="how-img" src="../img/1_41.png">
                    <div class="how-text">如何赚取积分</div>
                </li>
            </ul>
        </div>
        <!--底部导航-->
        <div class="footer">
            <div class="line">
                <img class="line-img" src="../img/1_32.png">
            </div>
            <div class="footer-nav">
                <a class="foot-item" href="./home.html">
                    <div class="foot-img old-img">
                        <img src="../img/1_7.png">
                    </div>
                    <div class="home-img new-img">
                        <img src="../img/1_6.png">
                    </div>
                    <div class="foot-text">首页</div>
                </a>
                <a class="foot-item" href="./lottery.html">
                    <div class="foot-img old-img">
                        <img src="../img/1_8.png">
                    </div>
                    <div class="foot-img new-img">
                        <img src="../img/1_9.png">
                    </div>
                    <div class="foot-text">积分抽奖</div>
                </a>
                <a class="foot-item" href="./exchange.html">
                    <div class="foot-img old-img">
                        <img src="../img/1_10.png">
                    </div>
                    <div class="foot-img new-img">
                        <img src="../img/1_11.png">
                    </div>
                    <div class="foot-text">兑换记录</div>
                </a>
                <a class="foot-item active" href="./mine.html">
                    <div class="foot-img old-img">
                        <img src="../img/1_12.png">
                    </div>
                    <div class="foot-img new-img">
                        <img src="../img/1_13.png">
                    </div>
                    <div class="foot-text">我的</div>
                </a>
            </div>
        </div>
    </div>
    <script src="../js/jquery-2.2.2.min.js"></script>
    <script src="../js/mine.js"></script>
</body>
</html>