<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的</title>
    <link rel="stylesheet" href="../css/mine.css">
</head>
<body>
    <div class="container">
        <!--积分商城-->
        <div class="header">
            <h1>积分商城</h1>
        </div>
        <div class="content">
            <div class="name">
                <img class="name-img" src="../img/1_34.png">
            </div>
            <div class="nickname">
                <div class="nickname-text">我是昵称</div>
            </div>
            <div class="jifen">
                <div class="number">29875</div>
                <div class="able">可用积分</div>
            </div>
            <div class="sign">
                <img class="sign-img" src="../img/1_33.png">
            </div>
        </div>
        <div class="nav">
            <ul class="details">
                <li class="order">
                    <img src="../img/1_35.png">
                    <div>兑换订单</div>
                </li>
                <li class="goods">
                    <img src="../img/1_36.png">
                    <div>待收货</div>
                </li>
                <li class="complete">
                    <img src="../img/1_37.png">
                    <div>已完成</div>
                </li>
                <li class="return">
                    <img src="../img/1_38.png">
                    <div>退货</div>
                </li>
            </ul>
        </div>
        <div class="change">
            <ul class="exchange">
                <li class="address">
                    <img class="address-img" src="../img/1_39.png">
                    <div class="address-text">收货地址</div>
                </li>
                <li class="rules">
                    <img class="rules-img" src="../img/1_40.png">
                    <div class="rules-text">兑换规则</div>
                </li>
                <li class="how">
                    <img class="how-img" src="../img/1_41.png">
                    <div class="how-text">如何赚取积分</div>
                </li>
            </ul>
        </div>
        <!--底部导航-->
        <div class="footer">
            <div class="line">
                <img class="line-img" src="../img/1_32.png">
            </div>
            <ul class="footer-nav">
                <li class="home">
                    <img class="home-img" src="../img/1_7.png">
                    <div>首页</div>
                </li>
                <li class="lottery">
                    <img class="lottery-img" src="../img/1_8.png">
                    <div>积分抽奖</div>
                </li>
                <li class="exchange">
                    <img class="exchange-img" src="../img/1_10.png">
                    <div>兑换记录</div>
                </li>
                <li class="mine active">
                    <img class="mine-img" src="../img/1_13.png">
                    <div>我的</div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>