<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>积分商城</title>
    <link rel="stylesheet" href="../css/modify.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="back">
                <img class="back-img" src="../img/back.png">
            </div>
            <!--地址管理-->
            <div class="details">
                <h2>地址管理</h2>
            </div>
        </div>
        <!--联系人信息-->
        <div class="main">
            <ul class="write">
                <li class="consignee">
                    <div class="specific consignee-text">收货人</div>
                    <input id="name" type="text" placeholder="请填写您的姓名" maxlength="15">
                </li>
                <li class="tel">
                    <div class="specific tel-phone">联系电话</div>
                    <input id="tel" type="text" placeholder="请填写您的手机号码" maxlength="11">
                </li>
                <li class="inputBox">
                    <div class="specific sheng">省</div>
                    <div class="choose">
                        <select id="province" class="ssxz">
                            <option>选择省份</option>
                        </select>
                    </div>
                </li>
                <li class="inputBox cityBox">
                    <div class="specific shi">市</div>
                    <div class="choose">
                        <select id="city" class="ssxz">
                            <option>选择市级</option>
                        </select>
                    </div>
                </li>
                <li class="inputBox areaBox">
                    <div class="specific qu">区</div>
                    <div class="choose">
                        <select id="area" class="ssxz">
                            <option>选择区/县</option>
                        </select>
                    </div>
                </li>
                <li class="address">
                    <textarea id="text" class="input1" maxlength="50" placeholder="请填写详细地址，不少于5个字"></textarea>
                </li>
            </ul>
        </div>
        <!--设置默认-->
        <div class="default">
            <div class="set">设为默认</div>
            <input type="checkbox" id="toggle-button">
            <label for="toggle-button" class="button-label">
                <span class="circle"></span>
                <span class="text on"></span>
                <span class="text off"></span>
            </label>
        </div>
        <!--保存按钮-->
        <div class="save">保存地址</div>
    </div>
    <script src="../js/jquery-2.2.2.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/cityData.js"></script>
    <script src="../js/citySelect.js"></script>
    <script src="../js/modify.js"></script>
</body>
</html>