<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>积分商城</title>
    <link rel="stylesheet" href="../css/noExchange.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div class="container">
        <!--兑换无记录-->
        <div class="contant">
            <div class="text">
                <img class="text-img" src="../img/1_14.png">
            </div>
            <div class="no-record">暂无记录</div>
            <div class="around">随便逛逛</div>
        </div>
        <!--底部导航-->
        <div class="footer">
            <div class="line">
                <img class="line-img" src="../img/1_32.png">
            </div>
            <div class="footer-nav">
                <a class="foot-item" href="./home.html">
                    <div class="foot-img old-img">
                        <img src="../img/1_7.png">
                    </div>
                    <div class="home-img new-img">
                        <img src="../img/1_6.png">
                    </div>
                    <div class="foot-text">首页</div>
                </a>
                <a class="foot-item" href="./lottery.html">
                    <div class="foot-img old-img">
                        <img src="../img/1_8.png">
                    </div>
                    <div class="foot-img new-img">
                        <img src="../img/1_9.png">
                    </div>
                    <div class="foot-text">积分抽奖</div>
                </a>
                <a class="foot-item active" href="./exchange.html">
                    <div class="foot-img old-img">
                        <img src="../img/1_10.png">
                    </div>
                    <div class="foot-img new-img">
                        <img src="../img/1_11.png">
                    </div>
                    <div class="foot-text">兑换记录</div>
                </a>
                <a class="foot-item" href="./mine.html">
                    <div class="foot-img old-img">
                        <img src="../img/1_12.png">
                    </div>
                    <div class="foot-img new-img">
                        <img src="../img/1_13.png">
                    </div>
                    <div class="foot-text">我的</div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>