<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>积分商城</title>
    <link rel="stylesheet" href="../css/rules.css">
</head>
<body>
    <div class="container">
        <!--商品详情-->
        <div class="content">
            <div class="back">
                <img class="back-img" src="../img/back.png">
            </div>
            <!--兑换规则-->
            <div class="details">
                <h2>兑换规则</h2>
            </div>
        </div>
        <div class="rules">兑换规则</div>
    </div>
    <script src="../js/jquery-2.2.2.min.js"></script>
    <script src="../js/rules.js"></script>
</body>
</html>