<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>积分商城</title>
    <link rel="stylesheet" href="../css/successful.css">
</head>
<body>
    <div class="container">
        <!--手机兑换成功-->
        <div class="content">
            <img src="../img/1_29.png">
        </div>
        <!--兑换如何查看-->
        <div class="watch">兑换的商品可到<span>“兑换记录”</span>中查看</div>
        <div class="back">返回首页</div>
    </div>
    <script src="../js/jquery-2.2.2.min.js"></script>
    <script src="../js/successful.js"></script>
</body>
</html>